 
.formAdmin{ 
     
    height: 150px;
    width: 95%;
    max-width: 500px;
    overflow: hidden;
    margin: 0px auto;
    border-radius: 15px 15px 15px 15px;
    box-shadow: -5px -1px 90px 5px gray;  
} 
.formAdmin [type="text"]{ 
    margin: auto0px;      
}
.formAdmin [type="submit"]{
    
    margin: 5px;
    background: blue;     
}  
#idForm{
   text-align: center;
}
